[submodule "extern/betaflight"]
	path = extern/betaflight
	url = https://github.com/betaflight/betaflight
[submodule "extern/kissnet"]
	path = extern/kissnet
	url = https://github.com/timower/kissnet.git
[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "extern/mingw-std-threads"]
	path = extern/mingw-std-threads
	url = https://github.com/meganz/mingw-std-threads.git
[submodule "extern/libwebsockets"]
	path = extern/libwebsockets
	url = https://github.com/warmcat/libwebsockets.git
